
<main role="main">

  <div class="jumbotron" >
    <div class=" container">
      <h1 class="display-3" id = "title">Manage your time effectively!</h1>
      <p>The service combines the ability to schedule events and communicate to the account of these events with friends
        or other participants.</p>
      <p><a class="btn btn-primary btn-lg" routerLink="/info" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
</main>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Planning</h2>
      <p>You can manipulate your ideas with time and a way to translate these ideas into reality.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Communication</h2>
      <p>Each event will be much more fun to plan communicating with your friends in open chat rooms.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Recomendetion</h2>
      <p>Almost every event will entail the use of certain auxiliary items. The system of recommendations will help
        you!</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>
</div>





