<div>
  <div class="btn-group" role="group" *ngIf="isCreator">
    <button class="btn btn-outline-info" [routerLink]="['/update-event',eventDTO.event.id]">Edit</button>
    <button class="btn btn-outline-danger" (click)="delete()">Delete</button>
  </div>
  <br>
  <div class="btn-group" role="group">
    <div *ngIf="isParticipant">
      You've joined this event.
      <button class="btn btn-outline-danger" (click)="removeParticipant()">Leave</button>
    </div>
    <div *ngIf="!isParticipant && !isCreator">
      <button class="btn btn-outline-success" (click)="addParticipant()">Join event</button>
    </div>
  </div>

  <p>Name: {{eventDTO.event.name}}</p>
  <div class="row">
    <p class="col-md-2">Description: </p>
    <div class="col-md-10" [innerHTML]="eventDTO.event.description"></div>
  </div>
  <p>Start time: {{eventDTO.event.startTime}}</p>
  <p>End time: {{eventDTO.event.endTime}}</p>
  <p>Visibility: {{eventDTO.event.visibility}}</p>

  <div *ngIf="isParticipant || isCreator">
    <div class="row">
      <p class="priority-label">Priority: </p>
      <div class="dot"
           [style.background-color]="
                    eventDTO.additionEvent.priority === 'HIGH' ? '#d14242':
                    eventDTO.additionEvent.priority === 'AVERAGE' ? 'green':'gray'">
        <select (change)="changePriority()" [(ngModel)]="priority">
          <option value="HIGH">High</option>
          <option value="AVERAGE">Avg</option>
          <option value="LOW">Low</option>
        </select>
      </div>
    </div>
    <div class="row">
      <p class="col-md-2">People:</p>
      <div class="col-md-10" *ngFor="let login of eventDTO.additionEvent.people">
        <p _nglogin>{{login}}</p>
      </div>
    </div>
    <p>Location: {{eventDTO.additionEvent.location.country}}, {{eventDTO.additionEvent.location.city}},
      {{eventDTO.additionEvent.location.street}}, {{eventDTO.additionEvent.location.house}}</p>


    <agm-map [latitude]="eventDTO.additionEvent.location.latitude"
             [longitude]="eventDTO.additionEvent.location.longitude" [zoom]="zoom">
      <agm-marker [latitude]="eventDTO.additionEvent.location.latitude"
                  [longitude]="eventDTO.additionEvent.location.longitude"></agm-marker>
    </agm-map>
    <br>
    <app-event-notification></app-event-notification>
  </div>


</div>
