<div class="row">
  <div class="col-md-3">
    <app-vnavbar></app-vnavbar>
  </div>

  <main role="main" class="col-md-9">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-event" role="tab" aria-controls="pills-event" aria-selected="true">Event</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isParticipant" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-wishlist" role="tab" aria-controls="pills-wishlist" aria-selected="false">Wish List</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isParticipant" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-chat" role="tab" aria-controls="pills-chat" aria-selected="false">Chat</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-event" role="tabpanel" aria-labelledby="pills-event-tab">

        <div class="btn-group" role="group" *ngIf="isCreator">
          <button class="btn btn-outline-info" [routerLink]="['/update-event',eventDTO.event.id]">Edit</button>
          <button class="btn btn-outline-danger" (click)="delete()">Delete</button>
        </div>
        <br>
        <div class="btn-group" role="group">
          <div *ngIf="isParticipant">
            You've joined this event.
            <button class="btn btn-outline-danger" (click)="removeParticipant()">Leave</button>
          </div>
          <div *ngIf="!isParticipant">
            <button class="btn btn-outline-success" (click)="addParticipant()">Join event</button>
          </div>
        </div>

        <p> Name = {{eventDTO.event.name}}</p>
        <p> Description: </p>
        <div [innerHTML]="eventDTO.event.description"></div>
        <p> Start time = {{eventDTO.event.startTime}}</p>
        <p> End time = {{eventDTO.event.endTime}}</p>
        <p> Privacy = {{eventDTO.event.visibility}}</p>

        <app-event-notification></app-event-notification>

      </div>

      <div class="tab-pane fade" id="pills-wishlist" role="tabpanel" aria-labelledby="pills-wishlist-tab">
        <app-wishlist [eventId]="eventDTO.event.id"></app-wishlist>
      </div>
      <div class="tab-pane fade" id="pills-chat" role="tabpanel" aria-labelledby="pills-chat-tab">...</div>
    </div>

  </main>
</div>
