<div *ngIf="!isHided">
  <div class="btn-group" role="group" *ngIf="isCreator">
    <button class="btn btn-outline-info" [routerLink]="['/update-event',eventDTO.event.id]">Edit</button>
    <button class="btn btn-outline-danger" (click)="delete()">Delete</button>
  </div>
  <br>
  <div class="btn-group" role="group">
    <div *ngIf="isParticipant">
      You've joined this event.
      <button class="btn btn-outline-danger" (click)="removeParticipant()">Leave</button>
    </div>
    <div *ngIf="!isParticipant && !isCreator">
      <button class="btn btn-outline-success" (click)="addParticipant()">Join event</button>
    </div>
  </div>

  <p>Name: {{eventDTO.event.name}}</p>
  <table>
    <tr>
      <td><p>Description: </p></td>
      <td><div [innerHTML]="eventDTO.event.description"></div></td>
    </tr>
  </table>
  <p>Start time: {{eventDTO.event.startTime}}</p>
  <p>End time: {{eventDTO.event.endTime}}</p>
  <p>Visibility: {{eventDTO.event.visibility}}</p>

  <div *ngIf="isParticipant || isCreator">
    <div class="row">
      <p class="priority-label">Priority: </p>
      <div class="dot"
           [style.background-color]="
                    eventDTO.additionEvent.priority === 'HIGH' ? '#d14242':
                    eventDTO.additionEvent.priority === 'AVERAGE' ? 'green':'gray'">
        <select (change)="changePriority()" [(ngModel)]="priority">
          <option value="HIGH">High</option>
          <option value="AVERAGE">Avg</option>
          <option value="LOW">Low</option>
        </select>
      </div>
    </div>

    <div>
      <app-event-notification></app-event-notification>
    </div>

    <div class="row">
      <p class="col-md-1">People:</p>
      <div class="row" *ngFor="let login of eventDTO.additionEvent.people">
        <div class = "col-md-2">
          <a [routerLink]="['/customer/',login]">
            <span class = "badge badge-secondary" _nglogin><h6>{{login}}</h6></span>
          </a>
        </div>
        <div class = "col-md-1">
        </div>
      </div>
    </div>

    <div *ngIf="isLocationExist">
      <p>Location: {{eventDTO.additionEvent.location.country}}, {{eventDTO.additionEvent.location.city}},
        {{eventDTO.additionEvent.location.street}}, {{eventDTO.additionEvent.location.house}}</p>


      <agm-map [latitude]="eventDTO.additionEvent.location.latitude"
               [longitude]="eventDTO.additionEvent.location.longitude" [zoom]="zoom">
        <agm-marker [latitude]="eventDTO.additionEvent.location.latitude"
                    [longitude]="eventDTO.additionEvent.location.longitude"></agm-marker>
      </agm-map>
      <br>
    </div>

  </div>


</div>
