[_nglogin]{
  color: white;
  background-color: steelblue;
}
.dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  float: left;

}
.dot select {
  opacity: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  float: left;

}

.priority-label {
  margin-right: 25px;
  margin-left: 15px;
}

agm-map {
  height: 350px;
}
