<div class="row">
  <div  class="col-md-3">
    <app-vnavbar></app-vnavbar>
  </div>

  <main role="main" class="col-md-9">
  <div [hidden]="!isCreator">
    <button class="btn-light" [routerLink]="['/update-event',event.id]">Edit</button>
    <button class="btn-warning" (click)="delete()">Delete</button>
  </div>

  <div [hidden]="isCreator">
    <div [hidden]="!isParticipant">
      You've joined this event. <button class="btn-outline-danger" (click)="removeParticipant()">Leave</button>
    </div>
    <div [hidden]="isParticipant">
        <button class="btn-outline-success" (click)="addParticipant()">Join event</button>
    </div>
  </div>
  <p> Name = {{event.name}}</p>
  <p> Description = {{event.description}}</p>
  <p> Start time = {{event.startTime}}</p>
  <p> End time = {{event.endTime}}</p>
  <p> Privacy = {{event.visibility}}</p>
  </main>
</div>
