<sidebar></sidebar>

<main role="main">
  <h2 class="text-center">Profile</h2>
  <div class="row">
    <div class="col-auto">
      <form method="post">
        <label>
          <input type="text" class="form-control" placeholder="Search users: " (keyup)="onKeyUp($event)">
        </label>
      </form>
      <h3>{{currentUser.name}} {{currentUser.secondName}}</h3>
        <img *ngIf="currentUser.avatar" src={{currentUser.avatar}} height="300" width="250"/>
        <img *ngIf="!currentUser.avatar" src="../../assets/img/profile-picture.png" height="300" width="250"/>
      <br>
      <br>
      <p> Username: {{currentUser.login}}</p>
      <p> E-mail: {{currentUser.email}}</p>
      <p *ngIf="currentUser.phone"> Phone: {{currentUser.phone}}</p>

      <div>
        <div>
          <a [routerLink]="['/edit-profile']" class="btn btn-outline-info" >Edit</a>
          <a [routerLink]="['/profile/friends']" class="btn btn-outline-info" >Friends</a>
        </div>
      </div>
    </div>
  <div *ngIf="isSearchUser" role="main" class="col-md-9">
    <table class="table table-striped" style = "overflow-x: auto; display: block;">
      <h4>Users:</h4>
      <button class="btn btn-outline-success" (click)="closeUsers()">Close</button>
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Login</th>
        <th scope="col">Phone</th>
        <th scope="col">Avatar</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td routerLink="/customer/{{user.login}}">{{user.name}} {{user.secondName}}</td>
        <td>{{user.login}}</td>
        <td>{{user.phone}}</td>
        <img *ngIf="user.avatar" src={{user.avatar}} height="55" width="50" class="center-img">
        <img *ngIf="!user.avatar" src="../../assets/img/profile-picture.png" height="55" width="50" class="center-img">
        <td>
          <button *ngIf="!getIsFriends(user.login) && !getIsRequest(user.login)" class="btn btn-outline-success" (click)="addFriend(user.login)">Add</button>
          <button *ngIf="getIsRequest(user.login)" class="btn btn-outline-dark" (click)="cancelRequest(user.login)">Cancel</button>
          <button *ngIf="getIsFriends(user.login)" class="btn btn-outline-danger" (click)="deleteFriend(user.login)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <hr>
    <ul class="nav nav-pills">
      <li class="nav-item" *ngFor="let page of pages; let i = index">
        <a class="nav-link" href="" (click)="setPage(i+1,$event)">{{i+1}}</a>
      </li>
    </ul>
  </div>
  </div>
</main>
