<body>
<div id="wrapper" class="toggled">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="nav-item">
        <a [routerLink]="['/profile']"  class="navbar-brand" routerLinkActive="active">My Profile</a>
      </li>
      <li>
        <a [routerLink]="['/home']"  class="navbar-brand" routerLinkActive="active">Calendar</a>
      </li>
      <li>
        <a [routerLink]="['/profile/friends']"  class="navbar-brand" routerLinkActive="active">Friends</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/notifications']"  class="navbar-brand" routerLinkActive="active">Notifications</a>
      </li>
      <li class="nav-item">
        <a data-toggle="collapse" href="#collapseEventsGroup" routerLinkActive="active">Events</a>
        <div id="collapseEventsGroup" class="collapse">
          <span>
              <a class="dropdown-item navbar-brand" [routerLink]="['/eventlist','my']"  routerLinkActive="active">My Events</a>
            </span>
          <span>
              <a class="dropdown-item navbar-brand" [routerLink]="['/eventlist','all']" routerLinkActive="active">All Events</a>
          </span>
          <!--<span>-->
              <!--<a class="dropdown-item navbar-brand disabled" routerLinkActive="active">Friends Events</a>-->
          <!--</span>-->
          <span>
              <a class="dropdown-item  navbar-brand" [routerLink]="['/create-event']" routerLinkActive="active">Create Event</a>
          </span>
        </div>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/folder-list','all']"  class="navbar-brand" routerLinkActive="active">Folders</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/draft-list']"  class="navbar-brand" routerLinkActive="active">Drafts</a>
      </li>
      <li class="nav-item">
        <a data-toggle="collapse" href="#collapseItemsGroup">Items</a>
        <div id="collapseItemsGroup" class="collapse">
          <span>
              <a class="dropdown-item  navbar-brand" [routerLink]="['/items/all']" routerLinkActive="active">All Items</a>
            </span>
          <span>
              <a class="dropdown-item navbar-brand" [routerLink]="['/items/booked']" routerLinkActive="active">Booked Items</a>
          </span>
          <span>
              <a class="dropdown-item navbar-brand" [routerLink]="['/items/collection']" routerLinkActive="active">Items Collection</a>
          </span>
          <span>
              <a class="dropdown-item navbar-brand" [routerLink]="['/items/create']" routerLinkActive="active">Create Item</a>
          </span>
        </div>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
</div>
</body>
<!--<p>&copy; NCGroup2 2018</p>-->
