<script src="eventlist.component.ts" xmlns:paginate="http://www.w3.org/1999/xhtml"></script>

<sidebar></sidebar>

<main role="main">
  <h2 class="text-center">Events</h2>
  <form [formGroup]="pdfForm" *ngIf="isMy">
    <div class="row justify-content-between">
      <div class="col-3">
        <div class="input-group input-group-sm bg-light">
          <div class="input-group-prepend">
            <div class="input-group-text press">
              <input type="checkbox" id="unchecked" class="cbx hidden" (click)="chooseCreatedCheckBox()"/>
              <label for="unchecked" class="lbl"></label>
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Only popular" placeholder="Only my created events"
                 readonly>
        </div>
      </div>
      <div class="col-2">
        <button data-toggle="collapse" data-target="#export" class="btn btn-outline-info" (click)="importToPDF()">Export to PDF</button>
      </div>
    </div>
  </form>
  <div class="col-auto" *ngIf="isMy" style="margin: 16px">
    <div class="row justify-content-center">
      High -
      <div class="dot"
           [style.background-color]="'#d14242'">
      </div>
      Average -
      <div class="dot"
           [style.background-color]="'green'">
      </div>
      Low -
      <div class="dot"
           [style.background-color]="'gray'">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="btn-group col-md-12" role="group" *ngIf="isMy">
      <button class="btn btn-outline-info col-md-4" [routerLink]="['/eventlist','my/filter/private']">PRIVATE</button>
      <button class="btn btn-outline-info col-md-4" [routerLink]="['/eventlist','my/filter/public']">PUBLIC</button>
      <button class="btn btn-outline-info col-md-4" [routerLink]="['/eventlist','my/filter/friends']">FRIENDS</button>
    </div>
  </div>
  <br>
    <table *ngIf="!isEmpty" class="table table-striped">
      <thead>
      <tr>
        <th scope="col" [routerLink]="['/eventlist','my/sorted/title']"><i class="fas fa-sort"></i> Title</th>
        <th scope="col" [routerLink]="['/eventlist','my']"><i class="fas fa-sort"></i> Start time</th>
        <th scope="col">End time</th>
        <th scope="col" [routerLink]="['/eventlist','my/sorted/type']"><i class="fas fa-sort"></i> Visibility</th>
        <th scope="col">Status</th>
        <th scope="col" *ngIf="isMy">Priority</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of eventsDTO | paginate: { itemsPerPage: 10, currentPage: p }; let i = index" [routerLink]="['/event-container',event.event.id]">
        <td>{{event.event.name}}</td>
        <td>{{event.event.startTime}}</td>
        <td>{{event.event.endTime}}</td>
        <td>{{event.event.visibility}}</td>
        <td>{{event.event.status}}</td>
        <td class="text-center" *ngIf="isMy">
          <div class="dot"
               [style.background-color]="event.additionEvent.priority === 'HIGH' ? '#d14242':
               event.additionEvent.priority === 'AVERAGE' ? 'green':'gray'">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</main>


