<sidebar></sidebar>

  <main role="main" [ngClass]="{'zeropadding': isIncluded}">
    <h2 *ngIf="!isIncluded" class="text-center">Items Collection</h2>
    <div class="row justify-content-between">
      <div class="col-auto">
        <button class="btn btn-outline-info" data-toggle="modal" data-target="#create">Create new item</button>
      </div>
      <div class="col-auto" *ngIf="!isIncluded">
        <div class="row">
          High -
          <div class="select-style"
               [style.background-color]="'#d14242'">
          </div>
          Average -
          <div class="select-style"
               [style.background-color]="'green'">
          </div>
          Low -
          <div class="select-style"
               [style.background-color]="'gray'">
          </div>
        </div>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-outline-primary"
                [ngClass]="{ 'pulse-button': hasChanges }" [disabled]="!hasChanges"
                (click)="executeDelete()">
          <i class="fas fa-save"></i> Save changes
        </button>
      </div>
    </div>
    <button class="btn btn-sm btn-outline-info" data-toggle="collapse" data-target="#colFilter"><i
      class="fas fa-filter"></i> Filter
    </button>
    <div class="collapse" id="colFilter">
      <input class="form-control" type="text" [(ngModel)]="queryString" placeholder="You can filter values by name, description, tags, raters, due date and creator login"/>
    </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" (click)="sortItems('name')">Name <i class="fas fa-sort"></i></th>
        <th scope="col">Image</th>
        <th scope="col">Link</th>
        <th scope="col" (click)="sortItems('dueDate')" class="text-center">Due date <i class="fas fa-sort"></i></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items | filterItems: queryString | sortingItems:path:order">
        <td (click)="showItemDetails(item)" data-toggle="modal" data-target="#CollectionItemViewForm" class="tdName">
          {{item.name}}
        </td>
        <td>
          <a *ngIf="item.image" href="{{item.image}}">image link</a>
        </td>
        <td>
          <a *ngIf="item.link" href="{{item.link}}"> link </a>
        </td>
        <td *ngIf="item.dueDate" class="text-center">{{item.dueDate}}</td>
        <td class="text-center">
          <button *ngIf="isIncluded" (click)="addItem(item)"
                  class="btn-sm button btn-outline-primary" title="Add item to wishlist">
            <i class="fas fa-plus"></i>
          </button>
          <button (click)="editItem(item)" data-toggle="modal" data-target="#edit"
                  class="btn-sm btn-outline-secondary" title="Edit item">
            <i class="far fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-outline-success" title="Copy item to wishlist"
                  (click)="copyItem(item)"
                  data-toggle="modal" data-target="#copyTo">
            <i class="far fa-copy"></i>
          </button>
          <button (click)="deleteItem(item)"
                  class="btn-sm btn-outline-danger" title="Delete item">
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>


    <div class="modal fade" id="CollectionItemViewForm" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <app-item-details-view [itemView]="itemView"></app-item-details-view>
      </div>
    </div>

    <additional-components-container
      *ngIf="!isIncluded"
      [editableItem]="editableItem"
      [copiedItem]="copiedItem">
    </additional-components-container>
  </main>
