/backend/target/
/frontend/node
/frontend/node_modules
/frontend/proxy.conf.json
/backend/src/main/resources/static
/backend/src/main/resources/application.properties
/.idea/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/