<sidebar></sidebar>

<main role="main">
  <h2 class="text-center">Calendar</h2>
  <!--<h5 class="text-center">Hi, {{currentUser.name}} {{currentUser.secondName}}!</h5>-->
  <div class="col-auto" style="margin: 16px">
    <div class="row justify-content-center">
      Public -
      <div class="dot"
           [style.background-color]="'#ad2121'">
      </div>
      Friends -
      <div class="dot"
           [style.background-color]="'#1e90ff'">
      </div>
      Private -
      <div class="dot"
           [style.background-color]="'#9b16dd'">
      </div>
      National -
      <div class="dot"
           [style.background-color]="'#86af49'">
      </div>
    </div>
  </div>
  <calendar-component [type]="'my'"></calendar-component>
  <br>

</main>

