<div class="row">
  <div class="col-md-3">
    <app-vnavbar></app-vnavbar>
  </div>

  <main role="main" class="col-md-9">
    <h2 class="text-center">Booked Items</h2>
    <br>
    <div class="row justify-content-between">
      <div class="col-auto">
        <button class="btn btn-outline-info" data-toggle="modal" data-target="#create">Create new item</button>
      </div>
      <div class="col-auto">
        <div class="row">
          High -
          <div class="select-style"
               [style.background-color]="'#d14242'">
          </div>
          Average -
          <div class="select-style"
               [style.background-color]="'green'">
          </div>
          Low -
          <div class="select-style"
               [style.background-color]="'gray'">
          </div>
        </div>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-outline-primary" [disabled]="!hasChanges" (click)="update()">
          Save changes
        </button>
      </div>
    </div>
    <!--<button class="btn btn-sm btn-outline-info" data-toggle="collapse" data-target="#filter"><i-->
      <!--class="fas fa-filter"></i> Filter-->
    <!--</button>-->
    <!--<div class="collapse" id="filter">-->
      <!--<input class="form-control" type="text" [value]="filterText"-->
             <!--[placeholder]="filterPlaceholder" [formControl]="filterInput"/>-->
    <!--</div>-->
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" (click)="sortItems('name')">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Link</th>
        <th scope="col" (click)="sortItems('dueDate')" class="text-center">Due date</th>
        <th scope="col" (click)="sortItems('priority')" class="text-center">Priority</th>
        <th scope="col" class="text-center"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let wishListItem of wishList.items | filterItems:{
        name: filterText,
        description: filterText,
        creator_customer_login : filterText,
        priority: filterText,
        link: filterText
        } : false | sortingItems:path:order; let i = index;">
        <td (click)="showItemDetails(wishListItem)" data-toggle="modal" data-target="#itemViewForm" class="tdName">
          {{wishListItem.item.name}}</td>
        <td>
          <a *ngIf="wishListItem.item.image" href="{{wishListItem.item.image}}">image link</a>
        </td>
        <td>
          <a *ngIf="wishListItem.item.link" href="{{wishListItem.item.link}}"> link </a>
        </td>
        <td *ngIf="wishListItem.item.dueDate" class="text-center">{{wishListItem.item.dueDate}}</td>
        <td align="center">
          <div class="select-style"
               [style.background-color]="
                    wishListItem.priority === 1 ? '#d14242':
                    wishListItem.priority === 2 ? 'green':'gray'">
            <select (change)="updatedPriority(wishListItem)">
              <option value="1" (click)="wishListItem.priority = 1">High</option>
              <option value="2" (click)="wishListItem.priority = 2">Avg</option>
              <option value="3" (click)="wishListItem.priority = 3">Low</option>
            </select>
          </div>
        </td>
        <td class="text-center">
          <button class="btn btn-outline-danger btn-sm" (click)="cancelBooking(wishListItem)">
            <i class="fas fa-ban"></i> Cancel
          </button></td>
      </tr>
      </tbody>
    </table>

    <div class="modal fade" id="itemViewForm" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <app-item-details-view [wishListItemView]="wishListItemView" (cancelledItem)="cancelBooking($event)" (updatedItem)="updatedPriority($event)"></app-item-details-view>
      </div>
    </div>

    <div class="modal fade" id="create"  tabindex="-1" role="dialog"
         aria-labelledby="modalCreateTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-create-item [included]="true"></app-create-item>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>
