<sidebar></sidebar>

  <main role="main">
    <h2 class="text-center">Booked Items</h2>
    <div class="row justify-content-between">
      <div class="col-auto">
        <button class="btn btn-outline-info"
                data-toggle="modal" data-target="#create">Create new item</button>
      </div>
      <div class="col-auto">
        <div class="row">
          High -
          <div class="select-style"
               [style.background-color]="'#d14242'">
          </div>
          Average -
          <div class="select-style"
               [style.background-color]="'green'">
          </div>
          Low -
          <div class="select-style"
               [style.background-color]="'gray'">
          </div>
        </div>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-outline-primary"
                [disabled]="!hasChanges" (click)="update()">
          <i class="fas fa-save"></i> Save changes
        </button>
      </div>
    </div>

    <button class="btn btn-sm btn-outline-info" data-toggle="collapse" data-target="#filter"><i
      class="fas fa-filter"></i> Filter
    </button>
    <div class="collapse" id="filter">
      <input class="form-control" type="text" [(ngModel)]="queryString"
             placeholder="You can filter values by name, description, due date, priority and creator login"/>
    </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" (click)="sortItems('name')">Name <i class="fas fa-sort"></i></th>
        <th scope="col">Image</th>
        <th scope="col">Link</th>
        <th scope="col" (click)="sortItems('dueDate')" class="text-center">Due date <i class="fas fa-sort"></i></th>
        <th scope="col" (click)="sortItems('priority')" class="text-center">Priority <i class="fas fa-sort"></i></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let wishListItem of wishList.items | filterItems: queryString | sortingItems:path:order; let i = index;">
        <td (click)="showItemDetails(wishListItem)" data-toggle="modal" data-target="#itemViewForm" class="tdName">
          {{wishListItem.item.name}}
        </td>
        <td>
          <a *ngIf="wishListItem.item.image" href="{{wishListItem.item.image}}">image link</a>
        </td>
        <td>
          <a *ngIf="wishListItem.item.link" href="{{wishListItem.item.link}}"> link </a>
        </td>
        <td *ngIf="wishListItem.item.dueDate" class="text-center">{{wishListItem.item.dueDate}}</td>
        <td align="center">
          <div class="select-style"
               [style.background-color]="
                    wishListItem.priority === 1 ? '#d14242':
                    wishListItem.priority === 2 ? 'green':'gray'">
            <select (change)="updatedPriority(wishListItem)">
              <option value="1" (click)="wishListItem.priority = 1">High</option>
              <option value="2" (click)="wishListItem.priority = 2">Avg</option>
              <option value="3" (click)="wishListItem.priority = 3">Low</option>
            </select>
          </div>
        </td>
        <td class="text-center">
          <button class="btn btn-outline-danger btn-sm"  title="Cancel booking"
                  (click)="cancelBooking(wishListItem)">
            <i class="fas fa-ban"></i>
          </button>
          <!--<button *ngIf="isCreator(wishListItem.item)" (click)="editItem(item)"-->
                  <!--data-toggle="modal" data-target="#edit"-->
                  <!--class="btn-sm btn-outline-secondary" title="Edit item">-->
            <!--<i class="far fa-edit"></i>-->
          <!--</button>-->
          <button class="btn btn-sm btn-outline-success" title="Copy item to wishlist"
                  (click)="copyItem(item)"
                  data-toggle="modal" data-target="#copyTo">
            <i class="far fa-copy"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="modal fade" id="itemViewForm" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <app-item-details-view [wishListItemView]="wishListItemView" (cancelledItem)="cancelBooking($event)"
                               (updatedItem)="updatedPriority($event)"></app-item-details-view>
      </div>
    </div>

    <additional-components-container
      <!--[editableItem]="editableItem"-->
      [copiedItem]="copiedItem">
    </additional-components-container>

  </main>
