<sidebar></sidebar>

<main role="main">
  <form [formGroup]="folderForm">
    <h2 class="text-center">Rename Folder</h2>
    <br>
    <div class="form-group">
      <label>Current Title</label>
      <select formControlName="id" type="text" class="form-control"
              name="id">
        <option *ngFor="let folder of folders" [ngValue]="folder.id">
          {{folder.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">New Title</label>
      <input formControlName="name" name="name" id="name" type="text" class="form-control">
      <div *ngIf="name.invalid && (name.dirty)"
           class="alert alert-danger">
        <div *ngIf="name?.errors?.pattern">
          Title must consist only of latin or cyrillic letters.
        </div>
        <div *ngIf="name?.errors?.maxlength">
          Title must be less than 20 characters long.
        </div>
        <div *ngIf="name?.errors?.required">
          Title is required.
        </div>
        <div *ngIf="name?.errors?.minlength">
          Title must be at least 3 characters long.
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-info" (click)="updateFolder(folderForm.value)">Update</button>
    </div>
  </form>
</main>
