<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
</head>
<body>
<div>
    <form th:action="@{edit}" th:object="${customer}" method="post">
        <div>
            <label th:for="*{name}">First Name</label>
            <label>
                <input type="text" th:field="*{name}" />
            </label>
        </div>
        <div>
            <label th:for="*{secondName}">Last Name</label>
            <label>
                <input type="text" th:field="*{secondName}" />
            </label>
        </div>
        <div>
            <label th:for="*{phone}">Phone</label>
            <label>
                <input type="text" th:field="*{phone}" />
            </label>
        </div>
        <a style="color: blue" th:href="@{/profile/edit/upload}">Upload Avatar</a>
        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</div>
</body>
</html>