<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Notification</title>
</head>
<body>
<table>
    <tr>
        <th>Description</th>
        <th>Action</th>
    </tr>
    <th:block th:each="relationship : ${relationships}">
        <tr>
            <td th:text="${relationship.name} + ' ' + ${relationship.second_name + ' wants to add you to friend list'}"></td>
            <td><a th:href="@{/profile/acceptFriend(token=${relationship.id})}">Accept</a>
                ||
                <a th:href="@{/profile/rejectFriend(token=${relationship.id})}">Reject</a>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>