<sidebar></sidebar>

<main role="main">
  <h2 class="text-center">Profile</h2>
  <div class="row">
    <div class="col-auto">
      <h3>{{customer.name}} {{customer.secondName}}</h3>
      <img *ngIf="customer.avatar" src={{customer.avatar}} height="300" width="250"/>
      <img *ngIf="!customer.avatar" src="../../assets/img/profile-picture.png" height="300" width="250"/>
      <br>
      <br>
      <p> Username: {{customer.login}}</p>
      <p> E-mail: {{customer.email}}</p>
      <p *ngIf="customer.phone"> Phone: {{customer.phone}}</p>
    </div>
    <div class="col-8" *ngIf="isFriend">
      <h1>Timeline</h1>
      <div class="col-auto" style="margin: 16px">
        <div class="row">
          Busy -
          <div class="dot"
               [style.background-color]="'#ad2121'">
          </div>
          Tentative -
          <div class="dot"
               [style.background-color]="'#9b16dd'">
          </div>
        </div>
      </div>
      <calendar-component [type]="'timeline'" [login]="customer.login"></calendar-component>
    </div>
  </div>

  <div *ngIf="folders" class="row">
    <table *ngFor="let folder of folders" class="col-md-2">
      <td>
        <a [routerLink]="['/folder-content', 'folder', folder.id]">
          <img src="../assets/img/folder.png" width="65" height="77"/>
          {{folder.name}}
        </a>
      </td>
    </table>
  </div>
</main>
