<nav class="fixed-left">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a [routerLink]="['/profile']" class="navbar-brand">My Profile</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/create-event']" class="navbar-brand">Create Event</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/eventlist','my']" class="navbar-brand">View Events</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/eventlist','all']" class="navbar-brand">See All Events</a>
      </li>
    </ul>
  </div>
</nav>
