<nav class="fixed-left">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a [routerLink]="['/profile']" class="navbar-brand">My Profile</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/notifications']" class="navbar-brand">Notifications</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/folder-list']" class="navbar-brand">Folders</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/eventlist','my']" class="navbar-brand">My Events</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/create-event']" class="navbar-brand">Create Event</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/eventlist','all']" class="navbar-brand">Find Event</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/eventlist','drafts']" class="navbar-brand">Drafts</a>
      </li>
      <li class="nav-item dropdown">
          <a class="btn btn-outline-info dropdown-toggle" href="#"
             role="button" id="dropdownMenuLink" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Items
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/booked-items']">Booked Items</a>
            <a class="dropdown-item" [routerLink]="['/created-items']">Created Items</a>
            <a class="dropdown-item" [routerLink]="['/add-item']">Create Item</a>
          </div>



      </li>

    </ul>
  </div>
</nav>
