<nav class="fixed-left ">
  <div class="sidebar-sticky">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a [routerLink]="['/profile']" class="navbar-brand">My Profile</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/notifications']" class="navbar-brand">Notifications</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/folder-list','all']" class="navbar-brand">Folders</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/eventlist','my']" class="navbar-brand">My Events</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/create-event']" class="navbar-brand">Create Event</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/eventlist','all']" class="navbar-brand">Find Event</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/eventlist','drafts']" class="navbar-brand">Drafts</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" data-toggle="collapse" href="#collapseItemsGroup">Items</a>
        <div id="collapseItemsGroup" class="collapse">
          <span>
              <a class="dropdown-item" [routerLink]="['/items/all']">All Items</a>
            </span>
          <span>
              <a class="dropdown-item" [routerLink]="['/items/booked']">Booked Items</a>
          </span>
          <span>
              <a class="dropdown-item" [routerLink]="['/items/collection']">Items Collection</a>
          </span>
          <span>
              <a class="dropdown-item" [routerLink]="['/items/create']">Create Item</a>
          </span>
        </div>
      </li>

    </ul>
  </div>
</nav>
