<sidebar></sidebar>

<main role="main">
  <div class="col-md-12" style="margin:0 auto">

    <h2 class="text-center">Edit Event</h2>
    <br>
    <form *ngIf="eventDTO; else loading" [formGroup]="eventDTOForm" (ngSubmit)="update(eventDTOForm.value)" novalidate>
      <!--[hidden]="!canEdit"-->
      <form [formGroup]="eventForm">
        <div class="form-group">
          <div class="form-group">
            <label>Title<span style="color: red;">*</span></label>
            <input value="{{eventDTO.event.name}}" formControlName="name" id="name" type="text" class="form-control"
                   name="name" required/>
            <div *ngIf="name.invalid && (name.dirty)"
                 class="alert alert-danger">
              <div *ngIf="name?.errors?.pattern">
                First name must consist only of latin or cyrillic letters.
              </div>
              <div *ngIf="name?.errors?.required">
                Title is required.
              </div>
              <div *ngIf="name?.errors?.minlength">
                Title must be at least 3 characters long.
              </div>
              <div *ngIf="name?.errors?.maxlength">
                Title must be less than 40 characters long.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Description</label>
            <editor initialValue="{{eventDTO.event.description}}" [formControlName]='["description"]'
                    apiKey="h4g5a6vds8edp6kti3ahmikjin0r9usoqh99fs5l8xymelf5" [init]="{plugins: 'link'}"></editor>
            <div *ngIf="description.value!=null && description.invalid && (description.dirty)"
                 class="alert alert-danger">

              <div *ngIf="description?.errors?.maxlength">
                Description must be less than 2048 characters long.
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <div class="form-group">
            <label>Start time</label>
            <input
              value="{{eventDTO.event.startTime | slice : 0 : 4}}-{{eventDTO.event.startTime | slice : 5 : 7}}-{{eventDTO.event.startTime |slice : 8 : 10}}T{{eventDTO.event.startTime | slice : 11 : 16}}"
              formControlName="startTime"
              type="datetime-local"
              class="form-control"
              name="startTime"/>
          </div>
          <div class="form-group">
            <label>End time</label>
            <input
              value="{{eventDTO.event.endTime | slice : 0 : 4}}-{{eventDTO.event.endTime | slice : 5 : 7}}-{{eventDTO.event.endTime |slice : 8 : 10}}T{{eventDTO.event.endTime | slice : 11 : 16}}"
              formControlName="endTime"
              type="datetime-local"
              class="form-control" name="endTime"/>
          </div>
          <div *ngIf="eventForm?.errors" class="alert-danger">
            <div *ngIf="eventForm?.errors?.endLessThanStart">Start time should be less than end time.</div>
            <div *ngIf="eventForm?.errors?.onlyOne">You must specify both dates or none of them (for note).</div>
            <div *ngIf="eventForm?.errors?.dateBeforeNow">Event cannot starts in the past.</div>
          </div>
        </div>
        <div *ngIf="(eventDTO.event.visibility == 'PUBLIC')" class="form-group">
          <label>Invite people</label>
          <div class="row">
            <div class="col-md-1"></div>
            <input class="form-control col-md-9" #manLogin id="people" type="text"
                   name="people"/>
            <button class="col-md-2" type="button" class="btn btn-primary" (click)="addUserToEvent(manLogin.value)">+
            </button>
          </div>
        </div>
      </form>
      <br>
      <form [formGroup]="additionEventForm">
        <table *ngIf="(eventDTO.event.visibility == 'PUBLIC')" class="table table-striped"
               style="overflow-x: auto; display: block;">
          <thead>
          <tr>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let login of people">
            <td>{{login}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="deleteUserFromEvent(login)">remove</button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="form-group">
          <div class="form-group">
            <label>Priority</label>
            <select value={{eventDTO.additionEvent.priority}} formControlName="priority" id="priority" type="text"
                    class="form-control" name="priority" required>
              <option value="LOW">Low</option>
              <option value="AVERAGE">Average</option>
              <option value="HIGH">High</option>
            </select>
          </div>
        </div>
        <div>
          <div *ngIf="isLocationExist">
            <label>Location</label>
            <p> {{eventDTO.additionEvent.location.country}}, {{eventDTO.additionEvent.location.city}},
              {{eventDTO.additionEvent.location.street}}, {{eventDTO.additionEvent.location.house}}</p>
          </div>
          <br>
          <label>Select a location:</label>
          <app-google-maps (onAddLocation)="addLocation($event)"></app-google-maps>

          <br>
          </div>
      </form>
      <br>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <a [routerLink]="['/event-container',eventDTO.event.id]" class="btn btn-link">Cancel</a>
      </div>
    </form>

  </div>

</main>


<ng-template #loading>
  Loading Event...
</ng-template>

