<div class="row">
  <div  class="col-md-2">
    <app-vnavbar></app-vnavbar>
  </div>

  <main role="main" class="col-md-4">

<h1>Select avatar </h1>

<div class="form-group">
  <h6>Image must have an extension: png, jpg, jpeg</h6>
  <h6>Max size image is 1 MB</h6>
  <input type="file" class="form-control" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
            text/plain, application/pdf, image/*" (change)="changeListener($event)">
</div>

<img *ngIf="base64Image" [src]="domSanitizer.bypassSecurityTrustUrl(base64Image)" height="300" width="250" />

<form method="post">
  <div class="form-group">
    <button type="submit" [disabled]="loading" class="btn btn-primary" (click)="updateUser(currentUser)" >Save</button>
  </div>
</form>
  </main>

</div>
