<div class="modal-content" *ngIf="!advancedMode">
  <div class="modal-header">
    <h5 class="modal-title" id="modalCenterTitle">{{item.name}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="item">
    <div>
      <img *ngIf="!item.image" style="max-height: 45vh; width: auto;max-width: 60vw;" class="card-img-top text-center"
           src="../../assets/img/default_image.png" alt="Card image">
      <img *ngIf="item.image" style="max-height: 45vh;width: auto; max-width: 60vw;" class="card-img-top text-center"
           src="{{item.image}}" alt="Card image">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">{{item.dueDate}}</h6>
        <div class="card-text" [innerHTML]=item.description></div>
        <span *ngIf="item.link">
            <a href="{{item.link}}" class="card-link">{{item.link}}</a>
          </span>
        <div *ngIf="item.tags">
          <button class="btn btn-sm" *ngFor="let tag of item.tags">{{tag.tag.name}}</button>
        </div>
      </div>
      <div class="card-footer container">
          <div class="text-muted rating col" *ngIf="item.raters">
          <span *ngFor="let rater of item.raters; let i = index;">
              <a *ngIf="i < 3" [routerLink]="['/customer',rater.customer_login]">{{rater.customer_login}} </a>
            <span *ngIf="i == 2" data-toggle="collapse" href="#others1" id="expandableText1" role="button"
                  aria-expanded="false" aria-controls="others">
              and {{item.raters.length-3}} others like this
            </span>
            <span *ngIf="i == 2" class="collapse" id="others1">
              <span *ngFor="let rater2 of item.raters; let j = index;">
                <a *ngIf="j > 2" [routerLink]="['/customer',rater2.customer_login]">{{rater2.customer_login}} </a>
              </span>
            </span>
          </span>
          </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-info" [ngClass]="{ 'active': rated }" (click)="updateRating()"
                data-toggle="button" [attr.aria-pressed]="rated">
          <span class="far fa-heart"></span>
        </button>
        <button data-dismiss="modal" class="btn btn-secondary">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal-content" *ngIf="advancedMode">
  <div class="modal-header">
    <h5 class="modal-title" id="modalCenterTitle1">{{wishListItem.item.name}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <img *ngIf="!wishListItem.item.image" style="max-height: 45vh; width: auto;max-width: 60vw;"
           class="card-img-top text-center" src="../../assets/img/default_image.png"
           alt="Card image">
      <img *ngIf="wishListItem.item.image" style="max-height: 45vh; width: auto;max-width: 60vw;"
           class="card-img-top text-center" [src]="wishListItem.item.image" alt="Card image">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-between">
          {{wishListItem.item.dueDate}}
          <small class="text-muted">
            <a [routerLink]="['/event-container',wishListItem.event_id]">
              Event
            </a>
          </small>
          <small>
            <label for="selectPriority">Priority:</label>
            <select [disabled]="!isBooker" (change)="updatePriority()" id="selectPriority">
              <option value="1" (click)="wishListItem.priority = 1">High</option>
              <option value="2" (click)="wishListItem.priority = 2">Avg</option>
              <option value="3" (click)="wishListItem.priority = 3">Low</option>
            </select>
          </small>
        </h6>
        <ul class="list-group list-group-flush">
          <div class="card-text" [innerHTML]=wishListItem.item.description></div>
          <span *ngIf="wishListItem.item.link">
            <a href="{{wishListItem.item.link}}" class="card-link">{{wishListItem.item.link}}</a>
          </span>
          <div *ngIf="wishListItem.item.tags">
            <button class="btn btn-sm" *ngFor="let tag of wishListItem.item.tags">{{tag.tag.name}}</button>
          </div>
        </ul>
      </div>
      <div class="card-footer container">
        <small *ngIf="!isBooker">
          Booker:
          <a data-dismiss="modal" [routerLink]="['/customer',wishListItem.booker_customer_login]">
            {{wishListItem.booker_customer_login}}
          </a>
          <span *ngIf="!wishListItem.booker_customer_login"> none</span>
        </small>
        <div class="row">
          <div class="text-muted rating col" *ngIf="wishListItem.item.raters">
          <span *ngFor="let rater of wishListItem.item.raters; let i = index;">
              <a *ngIf="i < 3" [routerLink]="['/customer',rater.customer_login]">{{rater.customer_login}} </a>
            <span *ngIf="i == 2" data-toggle="collapse" href="#others2" id="expandableText2" role="button"
                  aria-expanded="false" aria-controls="others">
              and {{wishListItem.item.raters.length-3}} others like this
            </span>
            <span *ngIf="i == 2" class="collapse" id="others2">
              <span *ngFor="let rater2 of wishListItem.item.raters; let j = index;">
                <a *ngIf="j > 2" [routerLink]="['/customer',rater2.customer_login]">{{rater2.customer_login}} </a>
              </span>
            </span>
          </span>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <div>
          <button class="btn btn-primary" *ngIf="!wishListItem.booker_customer_login"
                  (click)="bookItem()">
            <i class="far fa-bookmark"></i> Book It
          </button>
          <button class="btn btn-outline-danger" *ngIf="isBooker"
                  (click)="cancelBooking()" title="Cancel booking">
            <i class="fas fa-ban"></i> Cancel
          </button>
          <button type="button" class="btn btn-outline-info" [ngClass]="{ 'active': rated }" (click)="updateRating()"
                  data-toggle="button" [attr.aria-pressed]="rated">
            <span class="far fa-heart"></span>
          </button>
        </div>
        <div>
          <button data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
