<div>
  <div class="row">
    <div class="col-auto" *ngIf="!editMode">
      <button type="button" class="btn btn-secondary" [disabled]="!hasChanges" (click)="update()">
        Save changes
      </button>
    </div>
    <div class="col-auto" *ngIf="editMode">
      <button type="button" class="btn btn-outline-primary" [disabled]="!hasChanges" (click)="updateWishList()">
        Save changes
      </button>
    </div>
    <!--<div class="col-9">-->
      <!--<input class="form-control" name="filterInput" id="filterInput" type="text" [value]="filterText"-->
             <!--[placeholder]="filterPlaceholder" [formControl]="filterInput"/>-->
    <!--</div>-->
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" (click)="sortItems('name')">Name</th>
      <th scope="col" (click)="sortItems('booker_customer_login')" class="text-center">Booker</th>
      <th scope="col" (click)="sortItems('dueDate')" class="text-center">Due date</th>
      <th scope="col" (click)="sortItems('priority')" class="text-center">Priority</th>
      <th scope="col" *ngIf="editMode"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let wishListItem of wishList.items | sortingItems:path:order">
      <td (click)="showItemDetails(wishListItem)" data-toggle="modal" data-target="#itemViewForm" class="tdName">
        {{wishListItem.item.name}}</td>
      <td class="text-center">
        <button *ngIf="editMode || isBooker(wishListItem.booker_customer_login)" class="btn btn-outline-info"
           (click)="cancelBooking(wishListItem)">cancel</button>
        <span *ngIf="!isBooker(wishListItem.booker_customer_login)">{{wishListItem.booker_customer_login}}</span>
      </td>
      <td *ngIf="wishListItem.item.dueDate" class="text-center">{{wishListItem.item.dueDate}}</td>
      <td class="text-center">
        <div class="select-style"
             [style.background-color]="
                    wishListItem.priority === 1 ? '#d14242':
                    wishListItem.priority === 2 ? 'green':'gray'">
          <select *ngIf="editMode || isBooker(wishListItem.booker_customer_login)" (change)="hasChanges = true">
            <option value="1" (click)="wishListItem.priority = 1">High</option>
            <option value="2" (click)="wishListItem.priority = 2">Avg</option>
            <option value="3" (click)="wishListItem.priority = 3">Low</option>
          </select>
        </div>
      </td>
      <td *ngIf="editMode" class="text-center">
        <button (click)="removeItem(wishListItem)" class="btn-sm button btn-outline-danger">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>


  <div class="modal fade" id="itemViewForm" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <app-item-details-view [wishListItemView]="wishListItemView" (cancelledItem)="cancelBooking($event)" (updatedItem)="updatePriority($event)" (bookedItem)="bookItem($event)"></app-item-details-view>
    </div>
  </div>

</div>
