.red{
  background:red;
}

.green{
  background: green;
}

.gray{
  background: gray;
}
.row .select-style{
  margin-right: 4px;
  margin-left: 4px;
}
.select-style {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  overflow: hidden;
  margin: auto;
}

.select-style select {
  opacity: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

#filter{
 margin:2px;
 }

a{
  cursor:pointer;
}
a:hover{
  font-weight: 300;
}

.tdName:hover {
  cursor:pointer;
  background-color: rgba(0,0,0,0.02);
}

th:hover{
  cursor:pointer;
  background-color: rgba(0,0,0,0.02);
}

tr {
  width: 100%;
  display: inline-table;
  height:60px;
  table-layout: fixed;

}

table{
  height:500px;
  display: -moz-groupbox;
}
tbody{
  overflow-y: scroll;
  height: 450px;
  position: absolute;
}
.pulse-button {
  position: relative;
  box-shadow: 0 0 0 0 rgba(183, 175, 232, 0.7);
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
