<div *ngIf="wishList">
  <div class="row justify-content-between">
    <div class="col-auto">
      <button class="btn btn-outline-info" data-toggle="modal" data-target="#create">
        <i class="fas fa-plus"></i> Create new item
      </button>
    </div>
    <div class="col-auto" *ngIf="!editMode">
      <button type="button" class="btn btn-outline-primary"
              [ngClass]="{ 'pulse-button': hasChanges }"
              [disabled]="!hasChanges" (click)="update()">
        <i class="fas fa-save"></i> Save changes
      </button>
    </div>
    <div class="col-auto" *ngIf="editMode">
      <button type="button" class="btn btn-outline-primary"
              [ngClass]="{ 'pulse-button': hasChanges }"
              [disabled]="!hasChanges"
              (click)="updateWishList()">
        <i class="fas fa-save"></i> Save changes
      </button>
    </div>
  </div>
  <div class="row justify-content-center">
    High -
    <div class="select-style"
         [style.background-color]="'#d14242'">
    </div>
    Average -
    <div class="select-style"
         [style.background-color]="'green'">
    </div>
    Low -
    <div class="select-style"
         [style.background-color]="'gray'">
    </div>
  </div>
  <button class="btn btn-sm btn-outline-info" data-toggle="collapse" data-target="#filter"><i
    class="fas fa-filter"></i> Filter
  </button>
  <div class="collapse" id="filter">
    <input class="form-control" type="text" [(ngModel)]="queryString"
           placeholder="You can filter values by name, description, due date and creator login"/>
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" (click)="sortItems('name')">Name <i class="fas fa-sort"></i></th>
      <th scope="col" (click)="sortItems('booker_customer_login')" class="text-center">Booker <i
        class="fas fa-sort"></i></th>
      <th scope="col" (click)="sortItems('dueDate')" class="text-center">Due date <i class="fas fa-sort"></i></th>
      <th scope="col" (click)="sortItems('priority')" class="text-center">Priority <i class="fas fa-sort"></i></th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody *ngIf="wishList.items">
    <tr *ngFor="let wishListItem of wishList.items | filterItems: queryString | sortingItems:path:order">
      <td (click)="showItemDetails(wishListItem)" data-toggle="modal" data-target="#WishListItemViewForm"
          class="tdName">
        {{wishListItem.item.name}}
      </td>
      <td class="text-center">
        <button *ngIf="editMode && wishListItem.booker_customer_login || isBooker(wishListItem.booker_customer_login)"
                class="btn btn-outline-info btn-sm" title="Cancel booking"
                (click)="cancelBooking(wishListItem)">
          <i class="fas fa-ban"></i>
        </button>
        <span *ngIf="!isBooker(wishListItem.booker_customer_login)">{{wishListItem.booker_customer_login}}</span>
      </td>
      <td *ngIf="wishListItem.item.dueDate" class="text-center">{{wishListItem.item.dueDate}}</td>
      <td class="text-center">
        <div class="select-style"
             [style.background-color]="
                    wishListItem.priority === 1 ? '#d14242':
                    wishListItem.priority === 2 ? 'green':'gray'">
          <select *ngIf="editMode || isBooker(wishListItem.booker_customer_login)" (change)="hasChanges = true">
            <option value="1" (click)="wishListItem.priority = 1">High</option>
            <option value="2" (click)="wishListItem.priority = 2">Avg</option>
            <option value="3" (click)="wishListItem.priority = 3">Low</option>
          </select>
        </div>
      </td>
      <td class="text-center">
        <button *ngIf="editMode" (click)="removeItem(wishListItem)"
                class="btn-sm button btn-outline-danger" title="Remove item from wishlist">
          <i class="far fa-trash-alt"></i>
        </button>
        <button class="btn btn-sm btn-outline-info" (click)="copyItem(wishListItem.item)"
                data-toggle="modal" data-target="#copyTo" title="Copy item to wishlist">
          <i class="far fa-copy"></i>
        </button>
        <button *ngIf="isCreator || editMode" class="btn btn-sm btn-outline-info" (click)="moveItem(wishListItem)"
                data-toggle="modal" data-target="#copyTo" title="Move item to wishlist">
          <i class="fas fa-angle-double-left"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="modal fade" id="WishListItemViewForm" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <app-item-details-view
        [wishListItemView]="wishListItemView"
        (cancelledItem)="cancelBooking($event)"
        (updatedItem)="updatePriority($event)"
        (bookedItem)="bookItem($event)">
      </app-item-details-view>
    </div>
  </div>

  <additional-components-container
    [editableItem]="editableItem"
    [copiedItem]="copiedItem"
    [movableItem]="movableItem">
  </additional-components-container>

</div>
