<div class="row">
  <div class="col-md-3">
    <app-vnavbar></app-vnavbar>
  </div>

  <main role="main" class="col-md-6">
    <h2>Create Event</h2>
    <br>
    <form [formGroup]="eventDTOForm" (ngSubmit)="createEventForm(eventDTOForm.value)">

      <form [formGroup]="eventForm">
        <div class="form-group">
          <label>Title</label>
          <input formControlName="name" type="text" class="form-control" required/>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea formControlName="description" rows="5" cols="45" class="form-control"></textarea>
        </div>
        <br>
        <div class="form-group">
          <label>Day: </label>
          <input type="date" formControlName="day" class="dateTimeInput">
        </div>
        <div class="form-group">
          <label>Start time</label>
          <input formControlName="startTime" type="time" class="form-control"/>
        </div>
        <div class="form-group">
          <label>End time</label>
          <input formControlName="endTime" type="time" class="form-control"/>
        </div>
        <br>
        <div class="form-group">
          <label>Visibility</label>
          <select formControlName="visibility" [(ngModel)]="visibility" type="text" class="form-control"
                  name="visibility"
                  required>
            <option *ngFor="let vision of visibilityList" [ngValue]="vision">
              {{vision}}
            </option>
          </select>
        </div>
        <div *ngIf="(visibility == 'PUBLIC')" class="form-group">
          <div class="row">
            <label>Invite people</label>
            <input class="form-control col-md-11" #manLogin id="people" type="text"
                   name="people"/>
            <button class="col-md-1" type="button" (click)="addUserToEvent(manLogin.value)">+</button>
          </div>
        </div>
      </form>

      <form [formGroup]="additionEventForm">
        <table class="table table-striped" style="overflow-x: auto; display: block;">
          <thead>
          <tr>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let login of selectedPeople">
            <td>{{login}}</td>
            <td>
              <button type="button" (click)="deleteUserFromEvent(login)">delete</button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="form-group">
          <label>Priority</label>
          <select formControlName="priority" type="text" class="form-control" required>
            <option value="LOW">Low</option>
            <option value="AVERAGE">Average</option>
            <option value="HIGH">High</option>
          </select>
        </div>
        <div class="form-group">
          <label>Frequency: </label>
          <input formControlName="frequencyNumber" type="number" class="form-control" required/>
          <select formControlName="frequencyPeriod" type="text" class="form-control" required>
            <option value="day">day</option>
            <option value="week">week</option>
            <option value="month">month</option>
            <option value="year">year</option>
          </select>
        </div>
      </form>
      <br>

      <div class="form-group">
        <button class="btn btn-primary">Create</button>
        <a [routerLink]="['/content']" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </main>

</div>
