

.calendar {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.calendar-navs {
  background-color: #F0F8FF;
}

.month-nav {
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.year-nav {
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Montserrat';
}

.day-names {
  display: flex;
  flex-direction: row;
  background: #A52A2A;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.weeks {
  display: flex;
  flex-direction: column;
}
.week {
  display: flex;
  flex-direction: row;
}
.week-date,
.day-name {
  text-align: center;
  padding: 2px;
  display: block;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.week-date {
  height: 30px;
  position: relative;
}
.date-text {
  z-index: 10;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

.week-date::after {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: background-color 150ms linear, color 150ms linear;
  z-index: 1;
}

.enabled {
  cursor: pointer;
}
.enabled:hover {
  background-color: #008B8B;
}
.enabled:after {
  background-color: #008B8B;
}
.selected {
  color: #7FFF00;
}
.selected:after {
  background-color: #00008B;
}
.selected:hover {
  background-color: #00008B;
}
.selected:after {
  background-color: #00008B;
}

.disabled {
  color: #FF1493;
}


.calendar.today {
  font-weight: bold;
}


