<div class="col-md-12 centerred ">
  <div class="col-md-6 card" style="margin:0 auto">
    <h2 class="text-center">Login</h2>
      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label for="username">Username</label>
          <input id="username" type="text" class="form-control" name="username" [(ngModel)]="model.username"
                 #username="ngModel" required/>
          <div *ngIf="f.submitted && !username.valid" class="alert alert-danger">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password">Password</label>
          <input id="password" type="password" class="form-control" name="password" [(ngModel)]="model.password"
                 #password="ngModel" required/>
          <div *ngIf="f.submitted && !password.valid" class="alert alert-danger">Password is required</div>
          <a style="cursor: pointer" data-toggle="modal" data-target="#resetPasModal"
             class="btn btn-link text-muted">Forgot password?</a>
        </div>
        <div class="form-group">
        </div>
        <div class="modal-footer">
          <img *ngIf="loading"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          <a [routerLink]="['/register']" class="btn btn-link">Register</a>
          <button id ="loginBtn" [disabled]="loading" class="btn btn-primary">
            Login
          </button>
          <a id="loginCloseBtn" routerLink="/" class="btn btn-link">Cancel</a>
        </div>
        <h4 class="text-muted">Or...</h4>
        <div id="googleBtn"></div>
      </form>
  </div>
</div>


<div class="modal fade" id="resetPasModal" tabindex="-1" role="dialog" aria-labelledby="resetPasModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetPasModalTitle">Reset Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <app-send-link [modal]="true"></app-send-link>
    </div>
  </div>
</div>
