<div class="row">
  <div  class="col-md-3">
    <app-vnavbar></app-vnavbar>
  </div>

  <main role="main" class="col-md-9">

    <button class="btn btn-outline-info" [routerLink]="['/add-item']">Create new item</button>

    <table class="table table-striped" style = "overflow-x: auto; display: block;">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Link</th>
        <th scope="col">Due date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>
          <img src="{{item.image}}">
        </td>
        <td>
          <a *ngIf="item.link" href="{{item.link}}"> link </a>
        </td>
        <td>{{item.dueDate}}</td>
      </tr>
      </tbody>
    </table>
  </main>

</div>
