<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="" class="navbar-brand">Event Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="navbar">
        <a [routerLink]="['/home']" class="nav-link">
          <i class="fas fa-home"></i> Home
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="navbar">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-alt"></i> Profile
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/profile">
          <i class="fas fa-user-alt"></i> My profile
        </a>
        <a class="dropdown-item" (click)="logout()" style="cursor: pointer">
          <i class="fas fa-sign-out-alt"></i> Log Out
        </a>
      </div>
    </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="!navbar">
      <li class="nav-item">
        <a class="nav-link"  style="cursor: pointer" data-toggle="modal" data-target="#registerModal">
          <i class="far fa-plus-square"></i> Sign Up
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" data-toggle="modal" data-target="#loginModal">
          <i class="fas fa-sign-in-alt"></i> Sign In
        </a>
      </li>
    </ul>
  </div>
</nav>


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <login [modal]="true"></login>
    </div>
  </div>
</div>


<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalTitle">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <registration [modal]="true"></registration>
    </div>
  </div>
</div>
