<sidebar></sidebar>

  <main role="main" [ngClass]="{'zeropadding': isIncluded}">
    <h2 *ngIf="!isIncluded" class="text-center">All Items</h2>
    <div class="row justify-content-between">
      <div class="col-auto">
        <button class="btn btn-outline-info" data-toggle="modal" data-target="#create">
          <i class="fas fa-plus"></i> Create new item
        </button>
      </div>
    </div>
    <button class="btn btn-sm btn-outline-info" data-toggle="collapse" data-target="#AllFilter"><i
      class="fas fa-filter"></i> Filter
    </button>
    <div class="collapse" id="AllFilter">
      <input class="form-control" type="text" [(ngModel)]="queryString"
             placeholder="You can filter values by name, description, due date and creator login"/>
    </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" (click)="sortItems('name')">Name <i class="fas fa-sort"></i></th>
        <th scope="col">Image</th>
        <th scope="col">Link</th>
        <th scope="col" (click)="sortItems('dueDate')" class="text-center">Due date <i class="fas fa-sort"></i></th>
        <th scope="col" (click)="sortItems('creator_customer_login')" class="text-center">Creator <i
          class="fas fa-sort"></i></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items | filterItems: queryString | sortingItems:path:order">
        <td (click)="showItemDetails(item)" data-toggle="modal" data-target="#AllItemViewForm" class="tdName">
          {{item.name}}
        </td>
        <td>
          <a *ngIf="item.image" href="{{item.image}}">image link</a>
        </td>
        <td>
          <a *ngIf="item.link" href="{{item.link}}"> link </a>
        </td>
        <td *ngIf="item.dueDate" class="text-center">{{item.dueDate}}</td>
        <td *ngIf="item.creator_customer_login" class="text-center">{{item.creator_customer_login}}</td>
        <td class="text-center">
          <button *ngIf="isIncluded" (click)="addItem(item)"
                  class="btn-sm btn-outline-primary" title="Add item to wishlist">
            <i class="fas fa-plus"></i>
          </button>
          <button *ngIf="isCreator(item)"
                  (click)="editItem(item)" data-toggle="modal" data-target="#edit"
                  class="btn-sm btn-outline-secondary" title="Edit item">
            <i class="far fa-edit"></i>
          </button>
          <button (click)="copyItem(item)" data-toggle="modal" data-target="#copyTo"
                  class="btn-sm btn btn-outline-success" title="Copy item to wishlist">
            <i class="far fa-copy"></i>
          </button>
          <button *ngIf="isCreator(item)" (click)="deleteItem(item)"
                  class="btn-sm btn-outline-danger" title="Delete item">
            <i class="far fa-trash-alt"></i>
          </button>
          <button (click)="addToCollection(item)"
                  class="btn-sm btn-outline-primary" title="Copy item to collection">
            <i class="far fa-star"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <ul class="nav nav-pills">
      <li class="nav-item" *ngFor="let page of pages; let i = index">
        <a class="nav-link" href="" (click)="setPage(i+1,$event)">{{i+1}}</a>
      </li>
    </ul>
    <div class="modal fade" id="AllItemViewForm" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <app-item-details-view [itemView]="itemView"></app-item-details-view>
      </div>
    </div>

    <additional-components-container
      *ngIf="!isIncluded"
      [editableItem]="editableItem"
      [copiedItem]="copiedItem">
    </additional-components-container>
  </main>
