 <div class="row">

   <!--<button class="btn btn-outline-info" [routerLink]="['/add-items',eventDTO.event.id]">Edit wish list</button>-->

      <div class="col-4">

        <a class="list-group-item list-group-item-action"
           *ngFor="let itemDto of wishlist.items | sortingItems:path:order; let i = index;"
           data-toggle="modal" [attr.data-target]="'#modal'+i">

          <li class="d-flex flex-row-reverse justify-content-between align-items-center">

            <div class="select-style"
                 [style.background-color]="
                    itemDto.priority === 1 ? '#d14242':
                    itemDto.priority === 2 ? 'green':'gray'">

            </div>

            {{itemDto.item.name}}

          </li>

        </a>

      </div>
    </div>

    <div *ngFor="let itemDto of wishlist.items; let i = index;"
         class="modal fade"
         id="modal{{i}}"
         tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalCenterTitle">{{itemDto.item.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card">
              <img class="card-img-top"
                   *ngIf="!itemDto.item.image"
                   src="https://renderman.pixar.com/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png"
                   alt="Card image">

              <div class="card-body">

                <img class="card-img-top"
                     *ngIf="itemDto.item.image"
                     src="itemDto.item.image" alt="Card image">

                <h6 class="card-subtitle mb-2 text-muted">{{itemDto.item.dueDate}}</h6>
                <p class="card-text">{{itemDto.item.description}}</p>

                <a *ngIf="itemDto.item.link"
                   href="{{itemDto.item.link}}"
                   class="card-link">link</a>
              </div>

              <div class="card-footer container">
                <div class="row">
                  <div class="col-8">
                    <small *ngIf="itemDto.booker_customer_login"
                           class="text-muted">
                      Booker: {{itemDto.booker_customer_login}}
                    </small>
                    <small *ngIf="!itemDto.booker_customer_login">Booker: none</small>
                  </div>
                  <div class="col">
                    <small *ngIf="isBooker(itemDto.booker_customer_login)">
                      <label for="selectPriority">Priority:</label>
                      <select (change)="hasChanges = true" id="selectPriority">
                        <option value="1" (click)="itemDto.priority = 1">High</option>
                        <option value="2" (click)="itemDto.priority = 2">Avg</option>
                        <option value="3" (click)="itemDto.priority = 3">Low</option>
                      </select>

                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button href="#" class="btn btn-primary"
                    *ngIf="!itemDto.booker_customer_login"
                    (click)="bookItem(itemDto)">Book It
            </button>
          </div>
        </div>
      </div>
    </div>


    <button type="button" class="btn btn-secondary" [disabled]="!hasChanges" (click)="update()">
      Save changes
    </button>

