<sidebar></sidebar>

<main role="main" class="col-md-9">
  <div class="btn-group" role="group">
    <button class="btn btn-outline-info" [routerLink]="['/move-note', eventDTO.event.id]">Move</button>
    <button class="btn btn-outline-info" [routerLink]="['/create-event','note', eventDTO.event.id]">Convert to Event
    </button>
    <button class="btn btn-outline-danger" (click)="delete()">Delete</button>
  </div>
  <br>
  <br>
  <p>Title : {{eventDTO.event.name}}</p>
  <div class="row">
    <p class="col-md-3">Description: </p>
    <div class="col-md-7" [innerHTML]="eventDTO.event.description"></div>
    <div class="col-md-2"></div>
  </div>

  <!--<a [routerLink]="['/folder-content']" class="btn btn-link"><< Back</a>-->
</main>

