<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Notification</title>
</head>
<body>
<table>
    <tr>
        <th>Description</th>
        <th>Action</th>
    </tr>
    <th:block th:each="notification : ${notifications}">
        <tr>
            <td th:text="${notification.request}"></td>
            <td><a th:href="@{/profile/acceptFriend(token=${notification.token})}">Accept</a>
                ||
                <a th:href="@{/profile/rejectFriend(token=${notification.token})}">Reject</a>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>