<!--<div>-->
  <!--<label>Select an image</label>-->

  <!--<h6>You can download files with the extension: png, jpg, jpeg.</h6>-->

  <!--<form>-->
    <!--<input-->
      <!--style="display: none"-->
      <!--type="file"-->
      <!--(change)="onFileSelected($event)"-->
      <!--#fileInput>-->
    <!--<button type="button" (click)="fileInput.click()" >Pick File</button>-->
    <!--<button type="button" (click)="onUpload()">Upload</button>-->
    <!--<br/><br/>-->
  <!--</form>-->
  <!--&lt;!&ndash;<app-status-upload></app-status-upload>&ndash;&gt;-->
  <!--<br>-->
  <!--&lt;!&ndash;<a [routerLink]="['/edit-profile']" class="navbar-brand">Upload Avatar</a>&ndash;&gt;-->
  <!--&lt;!&ndash;&ndash;&gt;-->
  <!--&lt;!&ndash;<a style="color: blue" th:href="@{/profile/edit}">Edit</a>&ndash;&gt;-->
  <!--&lt;!&ndash;<a style="color: blue" th:href="@{/profile/friends}">Friends</a>&ndash;&gt;-->
  <!--&lt;!&ndash;<a style="color: blue" th:href="@{/profile/notifications}">Notifications</a>&ndash;&gt;-->
  <!--&lt;!&ndash;<button class="btn btn-primary" (click)="addCar()" >Add car</button>&ndash;&gt;-->
  <!--&lt;!&ndash;<p>{{addCarStatus}}</p>&ndash;&gt;-->
  <!--&lt;!&ndash;<input type="text" class="form-control" (keyup.enter) = "onKeyUp($event)" >&ndash;&gt;-->
  <!--&lt;!&ndash;<p>{{inputText}}</p>&ndash;&gt;-->

  <!--&lt;!&ndash;<input type="text" class="form-control" [(ngModel)]="">&ndash;&gt;-->
  <!--&lt;!&ndash;<p>{{inputText2}}</p>&ndash;&gt;-->
<!--</div>-->


<div class="row">
  <div  class="col-md-3">
    <app-vnavbar></app-vnavbar>
  </div>

  <main role="main" class="col-md-9">

<h1>Select avatar </h1>

<div class="form-group">
  <h6>Image must have an extension: png, jpg, jpeg</h6>
  <h6>Max size image is 1 MB</h6>
  <input type="file" class="form-control" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
            text/plain, application/pdf, image/*" (change)="changeListener($event)">
</div>

<img *ngIf="base64Image" [src]="domSanitizer.bypassSecurityTrustUrl(base64Image)" height="300" width="250" />

<form method="post">
  <div class="form-group">
    <button type="submit" [disabled]="loading" class="btn btn-primary" (click)="updateUser(currentUser)" >Save</button>
  </div>
</form>
  </main>

</div>
