<sidebar></sidebar>

<main role="main">
  <h2 class="text-center">Edit profile</h2>
  <form [formGroup]="profileForm">
    <div class="col-md-4">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" formControlName="name" [(ngModel)]="currentUser.name" >
        <div *ngIf="getName.invalid && (getName.dirty || getName.touched)" class="alert alert-danger">
          <div *ngIf="getName?.errors?.pattern">
            First name must consist only of latin or cyrillic letters.
          </div>
          <div *ngIf="getName?.errors?.minlength">
            First Name must be at least 3 characters long.
          </div>
          <div *ngIf="getName?.errors?.maxlength">
            First Name must be less than 20 characters long.
          </div>
        </div>
      </div>


      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" formControlName="lastName"
               [(ngModel)]="currentUser.secondName" >
        <div *ngIf="getLastName.invalid && (getLastName.dirty ||getLastName.touched)"
             class="alert alert-danger">
          <div *ngIf="getLastName?.errors?.pattern">
            Last name must consist only of latin or cyrillic letters.
          </div>
          <div *ngIf="getLastName?.errors?.minlength">
            Last Name must be at least 3 characters long.
          </div>
          <div *ngIf="getLastName?.errors?.maxlength">
            Last Name must be less than 20 characters long.
          </div>
        </div>
      </div>


      <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" formControlName="phone"
               [(ngModel)]="currentUser.phone" >
        <div *ngIf="getPhone.invalid && (getPhone.dirty || getPhone.touched)" class="alert alert-danger">
          <div *ngIf="getPhone.invalid && getPhone.touched">
            The phone must be in one of the formats: 1234567890 / 123-456-7890 /
            (123)456-7890 / (123)456-78-90 / (123)4567890
          </div>
          <div *ngIf="getPhone?.errors?.maxlength">
            Phone must be less than 20 characters long.
          </div>
        </div>
      </div>

          <button class="btn btn-success" type="submit" [disabled]="profileForm.invalid"
                  (click)="updateUser(currentUser)">Save</button>
      <br>
      <div>
        <br>
        <a [routerLink]="['/upload-img']" class="btn btn-outline-info">Add Avatar</a>
        <button class="btn btn-outline-info" type="submit"
                (click)="isDeleteChange()">Delete Avatar</button>
        <div *ngIf="isDelete">
          <div *ngIf="currentUser.avatar">
            <p>Are you sure?</p>
            <button class="btn btn-outline-success" type="submit"
                    (click)="deleteAvatar(currentUser)">Yes</button>
            <button class="btn btn-outline-danger" type="submit"
                    (click)="isDeleteChange()">No</button>
          </div>
          <div *ngIf="!currentUser.avatar">
            <p>You do not have an avatar</p>

          </div>

        </div>

      </div>
    </div>
  </form>

</main>




