<div class="row">
  <div class="col-md-3">
    <app-vnavbar></app-vnavbar>
  </div>
  <main role="main" class="col-md-9">
    <button class="btn btn-outline-info" [routerLink]="['/create-folder']">Create</button>
    <a [routerLink]="['/eventlist','notes']">
      <table>
        <tr>
          <img src="../assets/img/folder.png" width="65" height="77"/>
        </tr>
        <tr align="center">
          <label style="color:#000000">Default</label>
        </tr>
      </table>
    </a>
  </main>


</div>
