<div class="row">
  <div  class="col-md-3">
    <app-vnavbar></app-vnavbar>
  </div>

  <main role="main" class="col-md-9">
    <!--<form [formGroup]="eventsForm" name="form" role="form" &lt;!&ndash;(ngSubmit)="getEventsByCustId()" &ndash;&gt;novalidate>-->
      <!--<button type="submit" class="btn btn-primary">View</button>-->

      <table class="table table-striped" style = "overflow-x: auto; display: block;">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Start time</th>
          <th scope="col">End time</th>
          <th scope="col">Visibility</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of events">
          <td><input id="{{event.id}}" type="checkbox"></td>
          <td>{{event.name}}</td>
          <td>{{event.description}}</td>
          <td>{{event.startTime}}</td>
          <td>{{event.endTime}}</td>
          <td>{{event.visibility}}</td>
          <td><a class="nav-link" [routerLink]="['/event',event.id]">View </a> </td>
        </tr>
        </tbody>
      </table>
    <!--</form>-->

  </main>

</div>


