<sidebar></sidebar>

<main role="main">
  <form [formGroup]="folderForm">

    <div class="form-group">
      <label>Title</label>
      <select formControlName="id" type="text" class="form-control"
              name="id">
        <option *ngFor="let folder of folders" [ngValue]="folder.id">
          {{folder.name}}
        </option>
      </select>
    </div>
    <div>
      <button type="submit" class="btn btn-danger" (click)="deleteFolder(folderForm.value)">Delete</button>
    </div>
  </form>
</main>
