<div class="row">
  <div class="col-md-3">
    <app-vnavbar></app-vnavbar>
  </div>

  <main role="main" class="col-md-6">
    <form [formGroup]="folderForm">

      <div class="form-group">
        <label>Title</label>
        <select formControlName="id" type="text" class="form-control"
                name="id">
          <option *ngFor="let folder of folders" [ngValue]="folder.id">
            {{folder.name}}
          </option>
        </select>
      </div>
      <div>
        <button type = "submit" class="btn btn-danger"  (click) = "deleteFolder(folderForm.value)">Delete</button>
      </div>
    </form>
  </main>
</div>
