<script src="eventlist.component.ts"></script>

<sidebar></sidebar>

<main role="main">
  <h2 class="text-center">Drafts</h2>
  <table *ngIf="!isEmpty" class="table table-striped" style="overflow-x: auto; display: block;">
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Start time</th>
      <th scope="col">End time</th>
      <th scope="col">Visibility</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events" [routerLink]="['/draft-content',event.id]">
      <td>{{event.name}}</td>
      <td>{{event.startTime}}</td>
      <td>{{event.endTime}}</td>
      <td>{{event.visibility}}</td>
      <td>{{event.status}}</td>
    </tr>
    </tbody>
  </table>
</main>


