#calendar{
       max-width: 1024px;
       margin: auto;
    overflow: visible;
   }

#calendar .fc-day-grid-container{
    overflow-x: visible;
    overflow-y: visible;
}

#calendar .fc-button {

    display: inline-block;
}