.select-style {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  overflow: hidden;
}

.select-style select {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  border: 1px solid #ccc;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}
